# dependencias
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# build/cache
.next
out
dist
build
coverage
*.tsbuildinfo

# git / editor
.git
.gitignore
.vscode
.idea
.DS_Store

# variables locales
.env
.env.*
!.env.example

# archivos temporales
*.log
*.tmp
